<div>
    <form>
     
    
      <div class="container">
        <label for="documento"><b></b></label>
        <label for="uname"><b>FORMULARIO DE PROVEEDORES CALIDAD</b></label>


        
        <input type="text" placeholder="Entre el documento" name="documento" required>
        <label for="uname"><b>NOMBRES Y APELLIDOS</b></label>
        <input type="text"  placeholder="Entre el nombre y apellidos" name="nombre" required>
        <label for="uname"><b>NOMBRE DE EMPRESA</b></label>
        <input type="text"  placeholder="Entre nombre de la Empresa Proveedor" name="NombreEmpresa" required>
        <label for="uname"><b>DIRECCIÓN EMPRESA</b></label>
        <input type="text"  placeholder="Entre la Dirección Empresa Proveedor" name="DirecciónEmpresa" required>
        <label for="uname"><b>CONTACTO</b></label>
        <input type="text"  placeholder="Entre teléfono contacto" name="teléfono" required>
        <label for="uname"><b>CORREO ELECTRONICO</b></label>
        <input type="text"  placeholder="Entre correo electronico Empresa" name="correo electronico" required>
        <label for="uname"><b>PRODUCTOS Y SERVICIOS</b></label>
        <input type="text"  placeholder="Entre Productos/Servicios" name="Productos/Servicios" required>
        <label for="uname"><b>SITIO WEB</b></label>
        <input type="text"  placeholder="Entre sito web Empresa" name="sito web" required>
    
        <input type="button"  (click)="ingresar()" value="Guardar">
        <input type="button"  value="Cancelar" class="cancelbtn">
      </div>
    
      
    </form>
    </div>

